@import '../../../styles/mixins/global.scss';
@import '../../../styles/mixins/breakpoint.scss';

.new-client-section-banner-design {
    background-image: url("../../../assets/images/new-client.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 157px 0 98px 0;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    background-position: top center;

    @include breakpoint("max-sm") {
        background-image: url("../../../assets/images/new-client-banner-mobile.png");
        padding: 100px 0 26px 0;
        background-position: inherit;
        clip-path: none;
    }



    .grid {
        display: grid;
        gap: 23px;
        grid-template-columns: 1fr 289px;

        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        align-items: flex-end;

        .grid-items:nth-child(1) {
            @include breakpoint("max-sm") {
                order: 2;
                transform: translateY(-20px);
            }
        }

        .grid-items {
            .endline{
                display: none;

                @include breakpoint('max-sm'){
                    display: block;
                }
            }
            .profile-image {
                @include breakpoint("max-sm") {
                    margin-top: -50px;
                }

                img {
                    width: 100%;
                    height: 289px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include breakpoint("max-sm") {
                        transform: translateY(-40px);
                        position: relative;
                        width: 120px;
                        height: 120px;
                    }
                }
            }

            p {
                font-weight: 800;
                font-size: 24px;
                line-height: 60px;
                margin: 0 0 15px 0;
                color: #FFFFFF;

                @include breakpoint("max-sm") {
                    font-weight: 800;
                    font-size: 9px;
                    margin: 0 0 24px 0;
                    line-height: 10px;
                    display: none;
                }

                span {
                    font-weight: 400;
                }
            }

            .btn-container-txt{
                @include breakpoint("max-sm") {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &>.text-autor{
                    display: none;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 60px;
                    margin: 0 0 15px 0;
                    color: #FFFFFF;

                    @include breakpoint("max-sm") {
                        display: block;
                        font-weight: 800;
                        font-size: 14px;
                        margin: 0 0 24px 0;
                        color: #FFFFFF;
                        line-height: 10px;
                }

                span {
                    font-weight: 400;
                }
                }
                button {
                    padding: 20px 37px;
                    border: 1px solid #B8D895;
                    border-radius: 9999px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 600;
                    color: white;
                    min-width: 243px;
                    line-height: 22px;
                    background: transparent;
    
                    @include breakpoint("max-sm") {
                        padding: 10px 20px;
                        font-weight: 600;
                        font-size: 15px;
                        min-width: auto;
                        line-height: 12px;
                    }
    
                    span {
                        display: block;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 14px;
    
                        @include breakpoint("max-sm") {
                            font-size: 7px;
                        }
                    }
                }
            }

            h1 {
                position: relative;
                font-weight: 400;
                font-size: 30px;
                line-height: 1.5rem;
                padding-left: 35px;
                color: #fff;

                @include breakpoint("max-sm") {
                    font-weight: 600;
                    font-size: 20px;
                    padding-left: 1.5rem;
                  
                }

                &::before {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    content: "“";
                    font-family: "Montserrat", sans-serif;
                    font-size: 60px;
                    line-height: 43px;
                    color: #fff;

                    @include breakpoint("max-sm") {
                        font-weight: 400;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}