@import '../../../styles/mixins/global.scss';


.new-header-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    .logo {
        img {
            max-width: 207px;
            object-fit: cover;

            @include breakpoint("max-sm") {
                max-width: 130px;
            }
        }
    }
    .button {
        button {
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            background: #93C45E;
            padding: 12px 30px;
            border: none;
            cursor: pointer;
            color: #fff;

            @include breakpoint("max-sm") {
                padding: 9px 19px;
                font-size: 12px;
                line-height: 22px;
            }

            span {
                font-size: 11px;
                line-height: 16px;
                display: block;
                font-weight: 400!important;

                @include breakpoint("max-sm"){
                    display: none;
                }
            }
        }
    }
}