@forward "./breakpoint.scss";
@forward './columns.scss';
@forward './typography.scss';

.new-style-align {
    font-weight: 600;
    font-size: 8px !important;
    line-height: 14px !important;
}

.h-55 {
    height: 55px !important;
}

@include breakpoint("max-sm") {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 12px !important;
    }
}

